/* You can add global styles to this file, and also import other style files */
.navbar {
    padding: 0;
}

.main-header .sidebar-toggle {
    padding: 13px 15px;
}

.sidebar-right-toggle {
    align-self: flex-end!important;
}

.login-box-body {
    min-width: 400px;
}