<div class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a routerLink="/"><b>Java</b>Flix</a>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
  
        <form id="register-form" #f="ngForm" (ngSubmit)="f.form.valid && loginUser()">
          <div class="form-group has-feedback">
            <input [(ngModel)]="loginUserData.email" #email="ngModel" name="email" type="email" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && email.invalid || error.error }" placeholder="Email" required>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">E-mail is required</div>
            </div>
          </div>
          <div class="form-group has-feedback">
            <input [(ngModel)]="loginUserData.password" #password="ngModel" name="password" type="password" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && password.invalid || error.error }" placeholder="Password" required>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
              <div *ngIf="password.errors.required">Password is required</div>
            </div>
            <!-- <div class="alert alert-danger" [hidden]="!error.password">{{ error.password }}</div> -->
            <div *ngIf="error.error" class="invalid-feedback">
              <div>{{ error.error }}</div>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
          </div>
        </form>
  
        <a href="/forgot-password">I forgot my password</a><br>
        <a routerLink="/register" class="text-center">Register a new membership</a>
  
      </div>
      <!-- /.login-box-body -->
    </div>
  </div>
  